body {
  background-color: deepskyblue;
  font-family: Helvetica, sans-serif;
}

img {
  height: auto;
  width: 200px;
}

.App {
  text-align: center;
}

.anime-container {
  display: flex;
  justify-content: space-evenly;
}